@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  background-image: url("../img/background-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  font-family: "Inter", serif;
  height: 100vh;
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
h2 {
  font-size: 36px;
  color: black;
}
a {
  text-decoration: none;
  color: unset;
  transition: 0.3s;
  position: relative;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
  transition: 0.3s;
}
button:focus {
  outline: none;
}
.input-con,
.form-con,
.text-con,
.image-con,
.button-con {
  position: relative;
}
#main {
  display: flex;
  height: 100%;
}
#main .login-main-content,
#main .main-content {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

/* 
==================================================
INDEX
==================================================
*/

#index {
  max-width: 735px;
  width: 100%;
  border: 2px solid #000000;
  background: #ffffff;
  padding: 32px 89px 26px 97px;
  margin: 40px auto 20px;
  text-align: center;
}
.admin.login-main-content {
  position: relative;
}
.admin.login-main-content:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../img/image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
#index h2 {
  margin-bottom: 35px;
}
#index form .input-con {
  display: flex;
  flex-direction: column;
  gap: 25px 0;
}
#index form input {
  width: 100%;
  padding: 30px 20px 30px 14px;
  background-color: #d9d9d9;
  border: 1px solid #000000;
  font-size: 24px;
}
#index form input::placeholder {
  color: black;
  font-size: 24px;
}
#index form .button-con {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
#index form .button-con button {
  width: 100%;
  font-size: 32px;
  font-weight: 600;
  border: 1px solid #000000;
  color: #000000;
}
#index form .button-con button.alt-1 {
  padding: 25px 0;
  max-width: 550px;
  background: #ca1d70;
}
#index form .button-con button.alt-2 {
  background: #d9d9d9;
  width: 100%;
  max-width: 365px;
  margin: 0 auto;
  padding: 13px 27px 16px;
}
#index form .button-con a {
  font-size: 24px;
  font-weight: 600;
}

/* 
==================================================
DASHBOARD 
==================================================
*/

#dashboard {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dashboard h1 {
  font-size: 64px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#dashboard .dashboard-text {
  text-align: center;
  max-width: 950px;
  width: 100%;
  padding: 18px;
  background: rgba(202, 29, 112, 0.27);
  border-radius: 50px;
}

/* 
==================================================
CALENDAR 
==================================================
*/
#calendar {
  max-width: 1200px;
  padding-top: 100px;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#calendar .page-title {
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 172px;
  width: 100%;
  border: 1px solid #000000;
  padding: 15px 21px 15px 17px;
}
#calendar .page-title h2 {
  font-size: 32px;
}

/* 
==================================================
PAYMENT 
==================================================
*/
#payment {
  max-width: 1200px;
  padding: 100px 0;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#payment .page-title {
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 250px;
  width: 100%;
  margin-bottom: 98px;
  border: 1px solid #000000;
  padding: 15px 11px 15px 13px;
}
#payment .page-title h2 {
  font-size: 32px;
}
#payment .payment-container {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.84);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  max-width: 706px;
  width: 100%;
  margin: 0 auto;
  padding: 53px 20px;
  gap: 20px;
  height: 383px;
}
#payment .payment-container .payment-widget {
  max-width: 226px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #ca1d70;
  border-radius: 10px;
}
#payment .payment-container .payment-widget p {
  font-size: 36px;
  margin-bottom: 33px;
  color: #ffffff;
}
#payment .payment-container .payment-widget button {
  background-color: #ffffff;
  border: 1px solid #000000;
  font-size: 32px;
  border-radius: 10px;
  padding: 5px 17px;
}

/* 
==================================================
BOOKING 
==================================================
*/
#booking {
  max-width: 1200px;
  padding: 100px 0;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#booking .page-title {
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 250px;
  width: 100%;
  margin-bottom: 98px;
  border: 1px solid #000000;
  padding: 15px 11px 15px 13px;
}
#booking .page-title h2 {
  font-size: 32px;
}
#booking .booking-container {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.84);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  max-width: 706px;
  width: 100%;
  margin: 0 auto;
  padding: 53px 20px;
  gap: 20px;
  height: 383px;
}
#booking .booking-container .booking-widget {
  max-width: 226px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #ca1d70;
  border-radius: 10px;
}
#booking .booking-container .booking-widget p {
  font-size: 36px;
  margin-bottom: 33px;
  color: #000000;
}
#booking .booking-container .booking-widget button {
  background-color: #ffffff;
  border: 1px solid #000000;
  font-size: 32px;
  border-radius: 10px;
  padding: 5px 17px;
}

/* 
==================================================
PAYMENT 
==================================================
*/
#ebooking {
  max-width: 1200px;
  padding: 100px 0;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#ebooking .page-title {
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  margin-bottom: 98px;
  border: 1px solid #000000;
  padding: 15px 11px 15px 13px;
}
#ebooking .page-title h2 {
  font-size: 32px;
}
#ebooking .ebooking-container {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.84);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  max-width: 706px;
  width: 100%;
  margin: 0 auto;
  padding: 53px 20px;
  gap: 20px;
  height: 383px;
}
#ebooking .ebooking-container .ebooking-widget {
  max-width: 226px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #ca1d70;
  border-radius: 10px;
}
#ebooking .ebooking-container .ebooking-widget p {
  font-size: 36px;
  margin-bottom: 33px;
  color: #000000;
}
#ebooking .ebooking-container .ebooking-widget button {
  background-color: #ffffff;
  border: 1px solid #000000;
  font-size: 32px;
  border-radius: 10px;
  padding: 5px 17px;
}

/* 
==================================================
QR CODE 
==================================================
*/
#qrcode {
  max-width: 1200px;
  padding: 100px 0;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#qrcode .qrcode-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 20px;
  margin-bottom: 35px;
}
#qrcode .qrcode-container .qrcode-widget {
  max-width: 226px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 277px;
  background-color: #ca1d70;
  border-radius: 10px;
}
#qrcode .qrcode-container .qrcode-widget:first-of-type {
  background-color: #395ef2;
}
#qrcode .qrcode-container .qrcode-widget p {
  font-size: 36px;
  margin-bottom: 33px;
  color: #ffffff;
}
#qrcode .main-qrcode-container button {
  background-color: #ffffff;
  border: 1px solid #000000;
  font-size: 24px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  padding: 5px 17px;
}
#qrcode .main-qrcode-container {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.84);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 100%;
  max-width: 706px;
  width: 100%;
  margin: 0 auto;
  padding: 53px 20px;
  border-radius: 10px;
}

/* 
==================================================
ABOUT 
==================================================
*/
#about {
  max-width: 1200px;
  padding-top: 100px;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#about .page-title {
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 172px;
  width: 100%;
  border: 1px solid #000000;
  padding: 15px 21px 15px 17px;
}
#about .page-title h2 {
  font-size: 32px;
}

/* 
==================================================
THANK YOU 
==================================================
*/
#thankyou {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#thankyou .thankyou-text {
  background: rgba(255, 255, 255, 0.84);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  max-width: 683px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 430px;
  height: 100%;
}
#thankyou h1 {
  margin-bottom: 35px;
  font-size: 36px;
}
#thankyou h2 {
  font-size: 24px;
  margin-bottom: 31px;
}
#thankyou p:first-of-type {
  margin-bottom: 30px;
}
#thankyou p {
  font-weight: 700;
  font-size: 20px;
}

/* 
==================================================
PACKAGE
==================================================
*/
#package {
  flex-grow: 1;
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
}
#package .package-container {
  background: rgba(255, 255, 255, 0.84);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  justify-content: center;
  max-width: 837px;
  height: 100%;
  max-height: 567px;
}
#package .package-widget {
  display: flex;
  width: calc(100% / 3 - 20px);
  flex-direction: column;
  gap: 18px;
}
#package .image-container {
  padding: 6px 8px;
  background-color: #000000;
  border-radius: 10px;
}
#package .image-container img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
}
#package .package-widget .alt-1 {
  max-width: 102px;
  margin: 0 auto;
  font-size: 24px;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 10px;
}

/* 
==================================================
EVENT DETAILS
==================================================
*/
#event-details {
  flex-grow: 1;
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
}
#event-details .event-details-container {
  background: rgba(255, 255, 255, 0.84);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  gap: 10px;
  border: 1px solid #000000;
  flex-direction: column;
  max-width: 539px;
  width: 100%;
  max-height: 430px;
  height: 100%;
}
#event-details .event-details-container h1 {
  font-size: 20px;
}
#event-details .event-details-container form {
  position: relative;
  display: flex;
  gap: 20px;
  height: 100%;
  justify-content: space-between;
}
#event-details .event-details-container .field-container {
  display: flex;
  flex-direction: column;
}
#event-details
  .event-details-container
  .left-container
  .field-container:not(:last-of-type) {
  margin-bottom: 13px;
}
#event-details
  .event-details-container
  .right-container
  .field-container:not(:last-of-type) {
  margin-bottom: 13px;
}
#event-details .event-details-container label {
  margin-bottom: 11px;
  font-size: 13px;
}
#event-details .input-container {
  padding-left: 36px;
}
#event-details .event-details-container input {
  border: 1px solid #000000;
  max-width: 185px;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}
#event-details .event-details-container form button {
  position: absolute;
  bottom: 10px;
  font-weight: 700;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 5px 16px;
  font-size: 16px;
  right: 10px;
}

/* 
==================================================
MANUAL
==================================================
*/
#manual {
  flex-grow: 1;
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
}
#manual .manual-container {
  background: rgba(255, 255, 255, 0.84);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 18px 20px 20px 20px;
  display: flex;
  gap: 10px;
  border: 1px solid #000000;
  flex-direction: column;
  max-width: 668px;
  width: 100%;
  max-height: 457px;
  height: 100%;
}
#manual .manual-container h1 {
  font-size: 20px;
}
#manual .manual-container form {
  position: relative;
  display: flex;
  gap: 20px;
  height: 100%;
  justify-content: space-between;
}
#manual .manual-container .field-container {
  display: flex;
  flex-direction: column;
}
#manual .manual-container .left-container .field-container:not(:last-of-type) {
  margin-bottom: 13px;
}
#manual .manual-container .right-container .field-container:not(:last-of-type) {
  margin-bottom: 13px;
}
#manual .manual-container label {
  margin-bottom: 6px;
  font-size: 13px;
}
#manual .left-container .input-container {
  padding-left: 66px;
}
#manual .right-container .input-container {
  padding-left: 40px;
}
#manual .right-container {
  padding-right: 40px;
}
#manual .manual-container input {
  border: 1px solid #000000;
  max-width: 166px;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}
#manual .manual-container form button {
  position: absolute;
  bottom: -10px;
  font-weight: 800;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 5px 16px;
  font-size: 16px;
  right: 10px;
}

/* 
==================================================
GALLERY 
==================================================
*/
#gallery {
  max-width: 1200px;
  padding-top: 100px;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#gallery .page-title {
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 172px;
  width: 100%;
  border: 1px solid #000000;
  padding: 15px 21px 15px 17px;
}
#gallery .page-title h2 {
  font-size: 32px;
}

/* 
==================================================
HEADER 
==================================================
*/
#header {
  display: flex;
  position: relative;
  border-top: 1px solid #000000;
  background-color: #ffffff;
  gap: 10px;
  padding: 10px 20px;
}
#header ul {
  gap: 24px;
  display: flex;
}
#header ul a {
  font-size: 24px;
  font-weight: 600;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#header .mobile-btn {
  justify-content: center;
  display: none;
  align-items: center;
}
.mobile-navbar {
  padding: 20px;
  position: absolute;
  display: none;
  top: 45px;
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #000000;
}
.mobile-navbar ul li:not(:last-of-type) {
  margin-bottom: 24px;
}
.mobile-navbar ul li a {
  font-size: 24px;
  font-weight: 600;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#header .logout {
  position: absolute;
  right: 10px;
  font-size: 24px;
  top: 50%;
  padding: 0 10px;
  transform: translateY(-50%);
  font-weight: 800;
  border-radius: 5px;
  border: 1px solid #000000;
}

/* 
==================================================
FOOTER 
==================================================
*/

#footer {
  display: flex;
  justify-content: center;
  position: relative;
  background: rgba(217, 217, 217, 0.87);
  border: 1px solid #000000;
  padding: 22px 20px 17px;
  bottom: 0;
  width: 100%;
}

.login-main-content #footer {
  margin-top: auto;
}
@media screen and (max-width: 1240px) {
  #payment,
  #booking,
  #ebooking {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 1024px) {
  #dashboard {
    padding-left: 20px;
    padding-right: 20px;
  }
  #dashboard h1 {
    font-size: 60px;
  }
  #package {
    padding-left: 20px;
    padding-right: 20px;
  }
  #header .logout {
    right: 10px;
    font-size: 18px;
    padding: 0 8px;
  }
}
@media screen and (max-width: 767px) {
  #thankyou {
    padding-left: 20px;
    padding-right: 20px;
  }
  #thankyou h1 {
    margin-bottom: 20px;
    font-size: 30px;
  }
  #thankyou h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  #thankyou p:first-of-type {
    margin-bottom: 20px;
  }
  #thankyou p {
    font-size: 16px;
  }
  #thankyou .thankyou-text {
    max-width: 450px;
    max-height: 350px;
  }
  #index {
    max-width: calc(100% - 40px);
    padding: 25px 70px 25px 70px;
  }
  #index h2 {
    font-size: 30px;
  }
  #footer {
    text-align: center;
  }
  #index form input {
    padding: 20px 15px 20px 15px;
    font-size: 20px;
  }
  #index form .button-con button {
    font-size: 28px;
  }
  #index form .button-con button.alt-1 {
    padding: 20px 0;
  }
  #index form .button-con button.alt-2 {
    padding: 10px 20px 10px;
  }
  #index form .button-con a {
    font-size: 20px;
  }
  #dashboard h1 {
    font-size: 50px;
  }
  #header .mobile-btn {
    display: flex;
  }
  #header ul {
    display: none;
  }
  #header {
    justify-content: space-between;
  }
  #package .package-widget .alt-1 {
    max-width: 80px;
    font-size: 18px;
  }
  #package .package-widget {
    width: calc(100% / 2 - 20px);
  }
  #package .package-container {
    max-height: 100%;
  }
  #event-details,
  #manual,
  #qrcode {
    padding-left: 20px;
    padding-right: 20px;
  }
  #manual .right-container {
    padding-right: 0px;
  }
  #payment .page-title h2 {
    font-size: 25px;
  }
  #payment .page-title {
    max-width: 200px;
    margin-bottom: 50px;
  }
  #payment .payment-container .payment-widget p {
    font-size: 30px;
    margin-bottom: 28px;
  }
  #payment .payment-container .payment-widget button {
    font-size: 28px;
  }
  #payment .payment-container {
    padding: 40px 15px;
    height: 300px;
  }
  #payment {
    padding: 50px 20px;
  }
  #booking .page-title h2 {
    font-size: 25px;
  }
  #booking .page-title {
    max-width: 200px;
    margin-bottom: 50px;
  }
  #booking .booking-container .booking-widget p {
    font-size: 30px;
    margin-bottom: 28px;
  }
  #booking .booking-container .booking-widget button {
    font-size: 28px;
  }
  #booking .booking-container {
    padding: 40px 15px;
    height: 300px;
  }
  #booking {
    padding: 50px 20px;
  }
  #ebooking .page-title h2 {
    font-size: 25px;
  }
  #ebooking .page-title {
    max-width: 230px;
    margin-bottom: 50px;
  }
  #ebooking .ebooking-container .ebooking-widget p {
    font-size: 30px;
    margin-bottom: 28px;
  }
  #ebooking .ebooking-container .ebooking-widget button {
    font-size: 28px;
  }
  #ebooking .ebooking-container {
    padding: 40px 15px;
    height: 300px;
  }
  #ebooking {
    padding: 50px 20px;
  }
  #qrcode .qrcode-container .qrcode-widget {
    height: 200px;
  }
  #qrcode .qrcode-container .qrcode-widget p {
    font-size: 28px;
  }
  #qrcode .main-qrcode-container button {
    font-size: 20px;
  }
  #header .logout {
    right: 50px;
  }
}
