<aside class="sidebar">
  <div class="sidebar-header">
    <img
      id="logo"
      src="#"
      alt="Logo"
    />
    <button type="button" class="bi bi-x" id="btn-sidebar-close"></button>
  </div>
  <div class="sidebar-content">
    <div class="user-details">
      <div class="details-content">
        <img src="#" alt="Logo" />
      </div>
    </div>
    <div class="text-center">
      <ul class="nav_list">
        <div class="navigation-item">
          <a href="#" class="menu-link">
            <i class="bi bi-speedometer2"></i>
            <span class="links_name">Dashboard</span>
          </a>
        </div>
        <div class="navigation-item">
          <a href="#" class="menu-link">
            <i class="bi bi-book"></i>
            <span class="links_name">Dashboard</span>
          </a>
        </div>
        <div class="navigation-item">
          <a href="#" class="menu-link">
            <i class="bi bi-search"></i>
            <span class="links_name">Dashboard</span>
          </a>
        </div>
        <div class="navigation-item">
          <a class="sub-btn">
            <i class="bi bi-people"></i>
            <span class="links_name">Dashboard</span>
            <i class="bi bi-caret-right-fill dropdown"></i>
          </a>
          <div class="sub-menu">
            <a href="#" class="menu-link">
              <i class="bi bi-person-gear"></i>
              <span class="links_name">Dashboard</span>
            </a>
            <a href="#" class="menu-link">
              <i class="bi bi-person-slash"></i>
              <span class="links_name">Dashboard</span>
            </a>
          </div>
        </div>
      </ul>
    </div>
  </div>
</aside>
