<aside class="sidebar">
  <div class="sidebar-header">
    <img
      id="logo"
      src="{{ url_for('main.static', filename='img/Logo.png') }}"
      alt="Logo"
    />
    <button type="button" class="bi bi-x" id="btn-sidebar-close"></button>
  </div>
  <div class="sidebar-content">
    <div class="user-details">
      <div class="details-content">
        <p></p>
      </div>
    </div>
    <div class="text-center">
      <ul class="nav_list">
        <div class="navigation-item">
          <a href="{{ url_for('main.dashboard') }}" class="menu-link">
            <i class="bi bi-speedometer2"></i>
            <span class="links_name">Dashboard</span>
          </a>
        </div>
        <div class="navigation-item">
          <a href="{{ url_for('main.booking') }}" class="menu-link">
            <i class="bi bi-bookmark-check"></i>
            <span class="links_name">Booking</span>
          </a>
        </div>
        <div class="navigation-item">
          <a href="{{ url_for('main.eventDetails') }}" class="menu-link">
            <i class="bi bi-card-text"></i>
            <span class="links_name">Event Details Manual</span>
          </a>
        </div>
        <div class="navigation-item">
          <a href="{{ url_for('main.gallery') }}" class="menu-link">
            <i class="bi bi-image"></i>
            <span class="links_name">Gallery</span>
          </a>
        </div>
        <div class="navigation-item">
          <a href="{{ url_for('main.calendar') }}" class="menu-link">
            <i class="bi bi-calendar-event"></i>
            <span class="links_name">Calendar</span>
          </a>
        </div>
        <div class="navigation-item">
          <a href="{{ url_for('main.package') }}" class="menu-link">
            <i class="bi bi-box-seam"></i>
            <span class="links_name">Event Packages</span>
          </a>
        </div>
        <!-- <div class="navigation-item">
          <a class="sub-btn">
            <i class="bi bi-people"></i>
            <span class="links_name">Dashboard</span>
            <i class="bi bi-caret-right-fill dropdown"></i>
          </a>
          <div class="sub-menu">
            <a href="#" class="menu-link">
              <i class="bi bi-person-gear"></i>
              <span class="links_name">Dashboard</span>
            </a>
            <a href="#" class="menu-link">
              <i class="bi bi-person-slash"></i>
              <span class="links_name">Dashboard</span>
            </a>
          </div>
        </div> -->
        <div class="navigation-item">
          <a href="{{ url_for('main.about') }}" class="menu-link">
            <i class="bi bi-info-circle"></i>
            <span class="links_name">About</span>
          </a>
        </div>
      </ul>
    </div>
  </div>
</aside>
