{% extends 'layout.html' %} {% block body %}
<div class="main-content">
  <div id="booking">
    <h2>Booking Area</h2>
    <div class="booking-container">
      <button class="alt-1" onclick="window.location.href='/package'">
        All in Package
      </button>
      <button
        class="alt-1"
        onclick="window.location.href='/eventDetailsManual'"
      >
        Manual Package
      </button>
    </div>
    <div class="table-con user-bookings">
      <table id="bookingTable">
        <thead>
          <tr>
            <th>User</th>
            <th>Status</th>
            <th>Payment Status</th>
            <th>Total Price</th>
            <th>Paid Amount</th>
            <th>Event</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for i in current_user_bookings %}
          <tr class="{{ "Paid" if i.is_paid else "Unpaid" }}">
            <td>{{ current_user.username }}</td>
            <td>{{ i.status }}</td>
            <td>{{ "Paid" if i.is_paid else "Unpaid" }}</td>
            <td>{{ i.total_price }}</td>
            <td>{{ i.paid_amount }}</td>
            <td>
              {{ i.event_name }} - {{ i.event_date.strftime('%Y-%m-%d') }} - {{ i.food_time.strftime('%H:%M') }} - {{ i.event_location }}
            </td>
            <td class="table-btn">
              <button
                class="delete-btn"
                onclick="deleteBooking('{{ i.booking_id }}')"
              >Delete
            </button>
              <button onclick="location.href=`{{ url_for('main.booking_confirmation', event_id=i.event_id) }}`">
                View
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>       
        
      </table>
    </div>
  </div>
</div>
{% endblock %}
