{% extends 'layout.html' %} {% block body %}
<div class="main-content">
  {% include 'partials/header.html'%}
  <div id="booking">
    <div class="page-title">
        <h2>Booking Area</h2>
    </div>
    <div class="booking-container">
        <div class="booking-widget">
            <p>All in <br>
                Package </p>
            <button class="alt-1">
                <a href="/package">
                    Select
                </a>
            </button>
        </div>
        <div class="booking-widget">
            <p>Manual <br>
                Package </p>
            <button class="alt-1">
                <a href="/manual">
                    Select
                </a>
            </button>
        </div>
    </div>
  </div>
  {% include 'partials/footer.html'%}
</div>
{% endblock %}
