{% extends 'layout.html' %} {% block body %}
<div class="main-content">
  <div id="eventDetailsManual">
    <div class="eventDetailsManual-container">
      <h2>Event Information</h2>
      <form action="/eventDetailsManual" method="post">
        <div class="double-field">
          <div class="field-container">
            <label>Name of Event:</label>
            <div class="input-container">
              <input type="text" name="event_name" placeholder="Enter Event Name" required />
            </div>
          </div>
          <div class="field-container">
            <label>No. of Guest:</label>
            <div class="input-container">
              <input type="text" name="event_guest" placeholder="Enter No. of Guest" required />
            </div>
          </div>
          <div class="field-container">
            <label>Event Theme:</label>
            <div class="input-container">
              <input type="text" name="theme" placeholder="Enter Event Theme" required />
            </div>
          </div>
          <div class="field-container">
            <label>Color Motif:</label>
            <div class="input-container">
              <input type="text" name="color" placeholder="Enter Color Motif" required />
            </div>
          </div>
        </div>
        <div class="field-container">
          <label>Location of Event:</label>
          <div class="input-container">
            <input type="text" name="event_location" placeholder="Enter Event Location" required />
          </div>
        </div>
        <div class="double-field">
          <div class="field-container">
            <label>Date & Time of Event: </label>
            <div class="input-container">
              <input type="date" name="event_date" placeholder="Enter Event Name" required />
            </div>
          </div>
          <div class="field-container">
            <label>Time of food delivered:</label>
            <div class="input-container">
              <input type="time" name="food_delivered" placeholder="Enter Time of Food Delivered" required />
            </div>
          </div>
        </div>
        <div class="field-container checkbox">
          <label>Menu:</label>
          {% for menu in menus %}
          <div class="input-container">
            <input
              type="checkbox"
              id="menu_{{ menu.menu_id }}"
              name="menus"
              value="{{ menu.menu_id }}"
            />
            <label for="menu_{{ menu.menu_id }}"
              >{{ menu.menu_name }} - {{ menu.price }}</label
            >
            <input
              type="number"
              name="menu_quantities[{{ menu.menu_id }}]"
              placeholder="Qty"
            />
          </div>
          {% endfor %}
        </div>
        <button class="alt-1" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
