{% extends 'layout.html' %} {% block body %}
<div class="main-content">
  <div id="event-details">
    <div class="event-details-container">
      <h2>Event Details</h2>
      <form action="">
        <div class="double-field">
          <div class="field-container">
            <label>Name of Event</label>
            <input type="text" placeholder="Enter Event Name" required />
          </div>
          <div class="field-container">
            <label>Events Place</label>
            <input type="text" placeholder="Enter Event Place" required />
          </div>
        </div>
        <div class="field-container">
          <label>Event Address</label>
          <input type="text" placeholder="Enter Event Address" required />
        </div>
        <div class="double-field">
          <div class="field-container">
            <label>Reservation Date</label>
            <input type="date" name="date" required />
          </div>
          <div class="field-container">
            <label>Reservation Time</label>
            <input type="time" name="time" required />
          </div>
        </div>
        <div class="double-field">
          <div class="field-container">
            <label>Time food Delivered</label>
            <input type="text" placeholder="Enter Time Food Delivered" required />
          </div>
          <div class="field-container">
            <label>Secondary Phone No.</label>
            <input type="text" placeholder="Enter Secondary No." required />
          </div>
        </div>
        <button class="alt-1">
          <a href="/payment"> Book Now </a>
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
