{% extends 'layout.html' %} {% block body %}
<div class="main-content">
  {% include 'partials/header.html'%}
  <div id="manual">
    <div class="manual-container">
      <h1>Event Information</h1>
      <form action="">
        <div class="left-container">
          <div class="field-container">
            <label>Name of Event :</label>
            <div class="input-container">
              <input type="text" required />
            </div>
          </div>
          <div class="field-container">
            <label>No. of Guest :</label>
            <div class="input-container"><input type="text" required /></div>
          </div>
          <div class="field-container">
            <label>Date & Time of Event : </label>
            <div class="input-container"><input type="text" required /></div>
          </div>
          <div class="field-container">
            <label>Location of Event :</label>
            <div class="input-container">
              <input type="date" name="date" required />
            </div>
          </div>
          <div class="field-container">
            <label>Address :</label>
            <div class="input-container">
              <input type="time" name="time" required />
            </div>
          </div>
          <div class="field-container">
            <label>Time of food delivered :</label>
            <div class="input-container">
              <input type="time" name="time" required />
            </div>
          </div>
        </div>
        <div class="right-container">
          <div class="field-container">
            <label>Adult Guest :</label>
            <div class="input-container"><input type="text" required /></div>
          </div>
          <div class="field-container">
            <label>Kids Guest :</label>
            <div class="input-container"><input type="text" required /></div>
          </div>
          <div class="field-container">
            <label>Total of Guest :</label>
            <div class="input-container"><input type="text" required /></div>
          </div>
          <div class="field-container">
            <label>Event Theme :</label>
            <div class="input-container"><input type="text" required /></div>
          </div>
          <div class="field-container">
            <label>Color Motif :</label>
            <div class="input-container"><input type="text" required /></div>
          </div>
          <div class="field-container">
            <label>Menu :</label>
            <div class="input-container"><input type="text" required /></div>
          </div>
        </div>
        <button class="alt-1">
          <a href="/payment">
            Complete
          </a>
        </button>
      </form>
    </div>
  </div>
  {% include 'partials/footer.html'%}
</div>
{% endblock %}
