{% extends 'layout.html' %} {% block body %}
<div class="main-content">
  <div id="package">
    <h2>Event Packages</h2>
    <div class="package-container">
      <div class="package-widget">
        <div class="image-container">
          <img src="../static/img/background-main.jpg" alt="Image" />
        </div>
        <button class="alt-1">
          <a href="/eventDetails"> Select </a>
        </button>
      </div>
      <div class="package-widget">
        <div class="image-container">
          <img src="../static/img/background-main.jpg" alt="Image" />
        </div>
        <button class="alt-1">
          <a href="/eventDetails"> Select </a>
        </button>
      </div>
      <div class="package-widget">
        <div class="image-container">
          <img src="../static/img/background-main.jpg" alt="Image" />
        </div>
        <button class="alt-1">
          <a href="/eventDetails"> Select </a>
        </button>
      </div>
      <div class="package-widget">
        <div class="image-container">
          <img src="../static/img/background-main.jpg" alt="Image" />
        </div>
        <button class="alt-1">
          <a href="/eventDetails"> Select </a>
        </button>
      </div>
      <div class="package-widget">
        <div class="image-container">
          <img src="../static/img/background-main.jpg" alt="Image" />
        </div>
        <button class="alt-1">
          <a href="/eventDetails"> Select </a>
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
