{% extends 'layout.html' %} {% block body %}
<div class="main-content">
  <div id="package">
    <div class="header-content">
      <h2>Event Packages</h2>
      <button
        type="button"
        class="alt-1"
        data-bs-toggle="modal"
        data-bs-target="#packageModal"
      >
        Add Package
      </button>
    </div>
    {% include 'modals/packageModal.html'%}
    <div class="package-container"></div>
  </div>
</div>

<script>
  $(document).ready(() => {
    function fetchPackages() {
      $.ajax({
        url: "/get_packages",
        type: "GET",
        success(response) {
          $(".package-container").empty();

          response.forEach((pkg) => {
            let packageHTML = `
            <div class="package-widget" data-id="${pkg.package_id}">
              <div class="image-container">
                <img src="${pkg.image_path}" alt="${pkg.package_name}" />
              </div>
              <div class="package-content">
                <h4 data-title="${pkg.package_name}">${pkg.package_name}</h4>
                <p data-description="${pkg.description}">${pkg.description}</p>
                <p data-price="${pkg.price}">₱ ${pkg.price}</p>
              </div>
              <div class="btn-container">
                <button class="alt-2">Edit</button>
                <button class="alt-1 removePackage">Remove</button>
              </div>
            </div>
          `;
            $(".package-container").append(packageHTML);
          });
        },
        error(xhr) {
          let errorMsg = xhr.responseJSON?.error || "Failed to load packages!";
          toastr.error(errorMsg);
        },
      });
    }

    fetchPackages();
  });
</script>
{% endblock %}
