{% extends 'layout.html' %} {% block body %}
<div class="main-content">
  {% include 'partials/header.html'%}
  <div id="qrcode">
    <div class="main-qrcode-container">
      <div class="qrcode-container">
        <div class="qrcode-widget">
          <p>QR Code</p>
        </div>
        <div class="qrcode-widget">
          <p>QR Code</p>
        </div>
      </div>
      <input type="text" placeholder="Referrence number">
      <button class="alt-1">
        <a href="/thankyou">
          Complete
        </a>
      </button>
    </div>
  </div>
  {% include 'partials/footer.html'%}
</div>
{% endblock %}
